<form method="post" action="/questions">

  <input type="text" placeholder="Title" name="question[title]">
  <input type="text" placeholder="Subject" name="question[subject]">
  <input type="submit" value="Post">

</form>